@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

.home {
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

h2 {
  color: #d0d6f9;
  text-align: center;
  font-family: "Barlow", Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  font-family: "Bellefair", serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
}

p {
  color: #d0d6f9;
  text-align: center;
  font-family: "Barlow";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.button-home {
  display: flex;
  justify-content: center;
  margin-top: 6em;
}

.btn-home {
  color: #0b0d17;
  text-align: center;
  font-family: "Bellefair";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.25px;
  background-color: #fff;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.cont-main {
  margin-top: 5em;
  max-width: 72%;
}

.btn-home:hover {
  background-color: #fff;
  color: #0b0d17;
  box-shadow: 0px 0px 20px 50px rgba(36, 38, 47, 0.849);
}

@media (min-width: 768px) {
  .home {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }

  h1 {
    color: #fff;
    font-family: Bellefair;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
  }

  h2 {
    color: #d0d6f9;
    text-align: center;
    font-family: Barlow Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.375px;
  }

  p {
    color: #d0d6f9;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }

  .cont-main {
    margin-top: 10em;
    max-width: 50%;
  }

  .btn-home {
    width: 242px;
    height: 242px;
    flex-shrink: 0;
    border-radius: 242px;
    color: #0b0d17;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    margin-top: 6em;
  }

  .btn-home:hover {
    background-color: #fff;
    color: #0b0d17;
  }
}

@media (min-width: 1024px) {
  .home {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }

  h1 {
    color: #fff;
    font-family: Bellefair;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h2 {
    color: #d0d6f9;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
  }

  p {
    color: #d0d6f9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 8em;
  }

  .cont-main {
    grid-column: 1 / 2;
    justify-self: end;
  }

  .btn {
    grid-column: 2 / 3;
    justify-self: start;
    width: 274px;
    height: 274px;
    flex-shrink: 0;
    border-radius: 274px;
    margin-top: 7em;
  }
}
