.main {
    background-image: url('../assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-position: center;
    color: white;
  }

nav {
    backdrop-filter: blur(25px);
}
.nav-link {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;

  }
  @media (min-width: 768px) {
    .main {
      background-image: url('../assets/home/background-home-tablet.jpg');
    }
  }

  @media (min-width: 1024px) {
    .main {
      background-image: url('../assets/home/background-home-desktop.jpg');
    }
  }
